.back_img {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/home_bg.png");
  background-size: cover;
}
.section_nav {
    position: absolute;
    top: 50%;
    left: 25%;
}
.section_nav > a {
  margin-right: 50px;
}
.section_nav a {
  background-color: #eee;
  color: #1f2738;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.8rem 7rem;
  border-radius: 10px;
  transition: 0.4s;
}
.section_nav a:hover {
  background-color: #1f2738;
  color: #f56f36;
}
